src/exam-paper.aux
src/exam-paper.bbl
src/exam-paper.fdb_latexmk
src/exam-paper.fls
src/exam-paper.log
src/exam-paper.synctex.gz
src/exam-paper.toc
.DS_Store
.vscode/ltex.disabledRules.en-US.txt
src/exam-paper.blg
